

* {
	font-size:17px;
	line-height:200%;
	color: #191A42;
	font-family:lexend;
}

body{
    margin-top: 0;
    margin-right: 5%;
}

.inside{
    height: 400px;  
    overflow: scroll;
    width: fit-content;
    background-color: #fafafa;
    box-shadow: inset 0px 0px 10px rgba(0,0,0,0.9);
    margin-bottom: 50px;
}

li.suplistlink {
    font-size: 20px;
    border-left: 3px solid #4e9048;
    padding-left: 11px;
    font-size: 20px;
    margin-bottom: 60px;
    list-style-type: none;

}

#ADS li{
    display: grid;
    width: 100%;
    grid-template-columns: [title] 90% [year] 10px;
    grid-template-rows: [titledate] fit-content(35px) [authors] 31px;
    margin-bottom: 30px;
}

.title{
  color: #a60718;
  grid-area: titledate / title;
  text-decoration: none;
}

.year{
  grid-area: titledate / year;
}


.author{
  grid-area: authors/ title;
  border-bottom: 2px solid #a7a7c4ba;
  color: #4a4a4a;
}


.rounded {
    border: 0px;
    position: absolute;
    margin-top: -21px;
    background-color: rgb(255, 195, 54);
    width: 319px;
    height: 4px;
    box-shadow: 0px 2px 3px #9c8a8a6b;
}

#hello {
	font-size:24px;
	line-height:200%;
	color: white;
	font-family:lexend;
    font-weight: bolder;
    padding-left : 10px;
    margin-top: 0px;
	background-color: #005fb2;
    width: 100vw;
    position: relative;
}

#hello::before{
	background-color: #005fb2;
    content: "";
    z-index: -1;
    inset: 0px -100vw;
    position: absolute;
    box-shadow: 0px 5px 5px #9c8a8a6b;
}
.rounded::before {
    background-image: linear-gradient(to bottom, black 0%,transparent 10%);
    content: "";
    height:

}

h2 {
	font-size:20px;
	line-height:200%;
	color: #191A42;
	font-family:lexend;
	width: fit-content;
}

.para {
    display: inline-block;
    width: 70%;
}

#prez {
    display: grid;
    grid-template-columns: 50% 30%;
    grid-gap: 5%;
    
}

#public {
    height: 300px;
    width: 70%;
    display: inline-flex;
    overflow: scroll;
    position: absolute;
}

#publicflow-left{
    position: absolute;
    height: 300px;
    width: 300px;
    /* padding-left: 72%; */
    background-image: linear-gradient(to right, white 0%,transparent 11%);
}
#publicflow-right{
    position: absolute;
    height: 300px;
    width: 70%;
    pointer-events: none; 
    background-image: linear-gradient(to right, white 0%,transparent 11% , transparent 89%, white 100%);
}

.container {
height: 300px;
}

.sec {
width: fit-content;
}